body {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 95px;
  font-family: "Caveat Brush", cursive;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  padding-top: 15px;
  margin: 0;
}

p {
  text-align: center;
  margin: 0 100px;
}

.habiba-photo {
  max-width: 400px;
  display: block;
  margin: 50px;
  border-radius: 4px;
}

.navbar {
  padding: 15px;
}
.navbar-brand {
  font-family: "Caveat Brush", cursive;
  font-size: 27px;
}
.btn-branding {
  background: black;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 45px;
  border: 1px solid black;
}

.btn-branding:hover {
  border: 1px solid black;
  font-weight: bold;
  transition: 0.1s;
}

.hero {
  margin: 100px 50px;
}

.about {
  font-size: 95px;
  margin-bottom: 20px;
}
.about-para {
  text-align: center;
  margin: 150px 30px;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}
.about-sec {
  border: 3px solid black;
}
@media (max-width: 960px) {
  h1 {
    font-size: 57px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    margin: 0 35px;
  }
  .about-para {
    margin: 30px;
    text-align: center;
  }
  .habiba-photo {
    margin: 0 auto;
  }
}
